@import url("https://fonts.googleapis.com/css?family=Bowlby+One+SC|Heebo:700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-brand {
  height: 48px;
  font-family: "Bowlby One SC", cursive;
}

h1,
.h1 {
  font-family: "Heebo", sans-serif;
}

.card-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.card {
  margin-bottom: 1rem;
}

.btn-add-new {
  border-radius: 50%;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

/* Profile */

.profile a img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.profile .dropdown-menu {
  position: absolute;
}

time {
  display: flex;
}

/* Dashboard */
.nav-icon {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
     * Sidebar
     */

.sidebar {
  position: fixed !important;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
}

.sidebar .nav-link:not(.disabled) {
  color: #333;
}

.sidebar .nav-link .nav-icon {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .nav-icon,
.sidebar .nav-link.active .nav-icon {
  color: inherit;
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

/*
     * Navbar
     */

.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

.navbar .form-control {
  padding: 0.75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

/* Branding */
.navbar-brand {
  background-color: rgba(0, 0, 0, 0.4);
}

/* Layout */

[role="main"] {
  padding-top: 100px; /* Space for fixed navbar */
}

.sidebar {
  padding-top: 100px;
}

/* SM Styles */
@media only screen and (min-width: 576px) {
}

/* MD Styles */
@media only screen and (min-width: 768px) {
}

/* LG Styles */
@media only screen and (min-width: 992px) {
  [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }

  .sidebar {
    padding-top: 48px;
  }
}

/* XL Styles */
@media only screen and (min-width: 1200px) {
  time {
    flex-direction: column;
  }

  time > label {
    margin-bottom: unset;
    padding-left: 0px !important;
  }

  .card-container {
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .card {
    flex: 1 1 0px;
  }
}
